/vendor/
/web/sites/default/files/
/web/core/
/web/modules/
/web/themes/
/web/sites/default/settings.php
/web/sites/default/default.settings.php


# Allow sync folder inside files
!/web/sites/default/files/sync/


